body{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin: 0;
min-height: 100vh;
}
.Hero{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    margin: 0;
    font-size: 18px;
    color: #E5E7EB;
    padding: 5px 200px;
}
.title{
    padding: 100px 0px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}
p, ul, li{
 margin: 0;
 padding: 0;
}
.logo{
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}
.awesome, .placeholder{
    flex: 1 1;
}
img{
    max-width: 100%;
}
.awesome{
    flex-direction: column;
}
button{
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 6px;
    border: 0;
    margin-top: 10px;
    padding: 8px 30px;
}
.content{
    display: flex;
    flex-direction: column;
    padding: 0 250px;
}
.illustrations{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.illustration{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.ill{
    border: 5px solid #3882F6;
    border-radius: 8px;
    min-height: 180px;
}
h2{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    align-self: center;
}
.quotesec{
    background-color: #E5E7EB;
    padding: 100px 270px;
    display: flex;
    flex-direction: column;

}
.quote{
    font-size: 36px;
    font-style:italic;
    color: #1F2937;
}
.author{
    align-self: flex-end;
}
.action{
    margin: 50px 200px;
    color: #F9FAF8;
    background-color: #3882F6;
}
.footer{
    background-color: #1F2937;
    color: #F9FAF8;
}